:root{
    --border: 1px solid #e6e6e6;
    --color-main: #1a5692;
    --color-secundary: #e6e6e6;
    --font: Arial, Helvetica, sans-serif;
    --text-color: #707070;
    --color-desktop: #eef4f9;
}

body{
    width: 100%;
    height: 100vh;
    margin: initial;
    display: flex;
    overflow: hidden;
}

.mi-desktop{
    display: flex;
}

.mi-bar-menu{
    width: 298px;
    background: var(--color-secundary);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    border-radius: 9px;
    margin-right: 30px;
}

.mi-right-content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.mi-bar-menu-right{
    width: calc(100% + 8px);
    height: 30px;
    background: var(--color-main);
}

.mi-bar-menu__logo-guardian{
    margin-top: 23px;
    width: 218px;
    box-sizing: border-box;
}

.mi-bar-menu__list{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 21px;
}

.mi-bar-menu__list-item{
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    height: 28px;
}

.mi-bar-menu__list-item__mi-icon {
    width: 21px;
    height: 21px;
    margin-top: -4px;
}

.mi-bar-menu__list-subitem{
    padding-left: 16px;
    width: 100%;
    box-sizing: border-box;
}

.mi-bar-menu__list-item-title{
    color: var(--color-main);
    font-family: var(--font);
    font-weight: 100;
    font-size: 11px;
    width: 100%;
    margin-left: 15px;
}

.test{
    background-image: url('./img/menu_informes.svg');
    background-repeat: no-repeat;
    width: 16px;
}

.mi-icon{
    color: var(--color-main);
    font-size: 12px;
}

.mi-bar-menu__list-item:hover{
    border-bottom: 1px solid #f7931e;
}

.mi-bar-menu__button{
    width: 100%;
    height: 60px;
}

.mi-desktop-content{
    display: flex;
    height: calc(100% - 40px);
    background: var(--color-desktop);
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 27px;
}

.mi-desktop-content__demo,
.mi-desktop-content__prototype{
    display: flex;
    flex-direction: column;
    min-width: 630px;
}

.mi-desktop-content__demo{
    border-right: 1px dashed #adadad;
    padding-right: 8px;
}

.mi-desktop-content__demo1,
.mi-desktop-content__demo2{
    width: 617px;
    box-shadow: 0px 1px 10px rgba(0,0,0,.4);
    margin-bottom: 8px;
}

.mi-desktop-content__prototype__card {
    border: var(--border);
    width: 667px;
    height: 387px;
    margin-bottom: 18px;
    border-radius: 12px;
}

.card__title {
    background-color: var(--color-main);
    color: #FFF;
    height: 30px;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    padding: 6px 24px;
    color: #FFF;
    font-family: var(--font);
}

.card__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--font);
    font-size: 13px;
}

.step {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 14px;
    justify-content: center;
    color: var(--color-main);
}

.step__circle {
    background-color: var(--color-main);
    color: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
}

.step__circle.uno {
    background-color: #f7931e;
}

.step__circle.dos {
    background-color: #f7931e;
}

.card__campos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_campo {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    font-size: 10px;
    box-sizing: border-box;
    padding: 8px 15px;
    color: var(--color-main);
}

.campo {
    height: 20px;
    border-top: 1px solid var(--color-secundary);
    border-right: 1px solid var(--color-secundary);
    border-left: 1px solid var(--color-secundary);
    border-bottom: 1px solid var(--color-secundary);
    border-radius: 3px;
    background-image: url('./img/icon_nombres.svg');
    background-repeat: no-repeat;
    background-position: 6px;
    background-size: 13px;
    padding-left: 28px;

}

.campo:focus {
    border-bottom: 1px solid #f7931e !important;
}

.boton__derecha {
    display: flex;
    height: 25px;
    box-sizing: border-box;
    float: right;
    margin-right: 27px;
    width: 150px;
    border-radius: 15px;
    padding: 4px;
    justify-content: center;
    color: #fff;
    background-color: var(--color-main);
    border: none;
}

.boton__icono {
    width: 15px;
    margin-left: 5px;
}