@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?2rd5jd');
  src:  url('icomoon.eot?2rd5jd#iefix') format('embedded-opentype'),
    url('icomoon.ttf?2rd5jd') format('truetype'),
    url('icomoon.woff?2rd5jd') format('woff'),
    url('icomoon.svg?2rd5jd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desplegable:before {
  content: "\e90b";
}
.icon-cerrar:before {
  content: "\e90c";
}
.icon-check_square:before {
  content: "\e90d";
}
.icon-aceptar:before {
  content: "\e90e";
}
.icon-anadir:before {
  content: "\e90f";
}
.icon-info:before {
  content: "\e910";
}
.icon-navegacion_der:before {
  content: "\e90a";
}
.icon-gestion:before {
  content: "\e909";
}
.icon-empresa:before {
  content: "\e901";
}
.icon-recorrido_actual:before {
  content: "\e902";
}
.icon-ruta:before {
  content: "\e903";
}
.icon-check_list:before {
  content: "\e904";
}
.icon-menu_admin:before {
  content: "\e905";
}
.icon-movimientos_paradas:before {
  content: "\e906";
}
.icon-mis_vehiculos:before {
  content: "\e907";
}
.icon-variable_analoga:before {
  content: "\e908";
}
.icon-menu_informes:before {
  content: "\e900";
}
